@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
* {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  z-index: 0;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contain {
  width: 30vw;
  background-color: white;
  border-radius: 40px;
  padding: 30px;
}

.contain h1 {
  text-align: center;
}
.contain .input-box {
  position: relative;
  width: 100%;
  height: 7vh;

  margin: 40px auto;
  background: transparent;
  border: 2px solid black;
  border-radius: 40px;
}
.input-box input {
  position: relative;
  width: 85%;
  height: 95%;
  border-radius: 40px;
  border: none;
  outline: none;
  padding-right: 5%;
}

.input-box input::placeholder {
  color: black;
}
.icon {
  position: absolute;
  left: 4%;
  top: 34%;
}
button {
  width: 97%;
  height: 50px;
  margin: 15px auto 10px;
  border: none;
  outline: none;
  border-radius: 40px;
  color: black;
  font-size: 25px;
}

.errorBox {
  color: red;
  margin-right: 10px;
}
