
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contain {
  width: 30vw;
  border: 2px solid black;
  background-color: #e0e9f0;
  border-radius: 40px;
  padding: 30px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}

.contain h1 {
  text-align: center;
}
.contain .inputBox {
  position: relative;
  width: 100%;
  height: 7vh;
  margin: 40px auto;
  background: transparent;
  border: 2px solid black;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
.inputBox input {
  position: relative;
  width: 85%;
  height: 95%;
  border-radius: 40px;
  border: none;
  outline: none;
  padding-right: 5%;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  background-color: #e0e9f0;
}

.inputBox input::placeholder {
  color: black;
}
.icon {
  position: absolute;
  left: 4%;
  top: 34%;
}
.logInBtn {
  width: 97%;
  height: 50px;
  margin: 15px auto 10px;
  border: none;
  outline: none;
  border-radius: 40px;
  color: white;
  font-size: 25px;
  background-color: #014f86;
}
.logInBtn:hover {
  background-color: #0360a3;
}

.errorBox {
  color: red;
  margin-top: 5px;
  margin-right: 10px;
}
