.filters {
  top: 1%;
  margin: 0;
  background-color: #014f86 !important;
}
.requestPage {
  background-color: white;
}
.body {
  width: 74%;
  height: 100%;
  margin: auto;
  border: 1px solid black;
  padding: 0;
}

.city {
  
  display: flex;
  align-items: center;
  width: 18vh;
  height: 5.5vh;
  font-size: 19px;
  border-radius: 10px;
  
}

.searchBox {
  height: 6vh;
  width: 22vw;
  border-radius: 30px;
  border: 2px solid black;
  background-color: white;
 
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.search {
  padding: 0 10px;
  height: 100%;
  width: 90%;
  border-radius: 30px;
  outline: none;
  border: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.icon {

margin-right: 8px;
  
}
.search::placeholder {
  font-size: medium;
}
.searchBox .icon {
  position: relative;
  top: 0;
}

.addButton {
  border: 2px solid black;
  padding: 5px 10px;
  height: 6vh;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: white;
}
.addButton:hover {
  cursor: pointer;
  background-color: lightgray;
}

.table tr {
  border-color: #014f86;
  margin: none;
  border-right: none;
  border-left: none;
}
.table th{
  background-color: #e0e9f0;
  color: #5489ae;
  font-weight: bolder;
}
.table td{

  color: #5489ae;
  font-weight: bolder;
  z-index: -1;
}
