.filters {
  top: 1%;
  margin: 0;
  background-color: #014f86 !important;
}


.body {
  width: 95%;
  height: 100%;
  margin: auto;
  border: 1px solid black;
  padding: 0;
}

.city {
  display: flex;
  align-items: center;
  width: 35%;
  height: 5.5vh;
  font-size: 19px;
  border-radius: 10px;
}

.searchBox {
  height: 6vh;
  width: 49%;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #d9e5ed;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.search {
  position: relative;
  padding: 0 10px;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  outline: none;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.search::placeholder {
  font-size: medium;
}
.searchBox .icon {
 margin: 10px;
}

.addButton {
  border: 1px solid black;
  padding: 5px 10px;
  height: 6vh;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: white;
}
.addButton:hover {
  cursor: pointer;
  background-color: lightgray;
}
.thead th{
  background-color: transparent; /* or #000 */
  user-select: none;
  background-color: #264f86;
  font-weight: bolder;
  border: none;
  color: white;
}
.tHead tr {
  border: none;
  margin: none;
  border-right: none;
  border-left: none;
}
.tbody tr {
  border-color: #edeff0;
  margin: none;
  border-right: none;
  border-left: none;
}
.tbody th {
border: none;  color: #264f86;
  font-weight: normal;
}
.tbody td {
  border: none;
  color: #264f86;
  font-weight: normal;
  
}
