.filters {
  top: 1%;

  margin: 0;
}
.body {
  width: 74%;
  height: 100%;
  margin: auto;
  border: 2px solid black;
  padding: 0;
}

.city {
  display: inline-block;
  width: 15vh;
  height: 6vh;
  font-size: 19px;
  border-radius: 10px;
}

.searchBox {
  height: 6vh;
  width: 25vw;
  border-radius: 30px;
  border: 2px solid black;
  background-color: white;
  display: flex;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.search {
  position: relative;
  padding: 0 10px;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  outline: none;
  border: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.icon {
  margin: 10px;
}
.search::placeholder {
  font-size: medium;
}
.searchBox .icon {
  position: relative;
  top: 0;
}

.addButton {
  border: 2px solid black;
  padding: 5px 10px;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.addButton:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.212);
}
