.filters {
  top: 1%;
  margin: 0;
  background-color: #014f86 !important;
}
.body {
  width: 74%;
  height: 100%;
  margin: auto;
  border: 2px solid black;
  padding: 0;
}

.collage,
.city {
  display: inline-block;
  width: 15vh;
  height: 6vh;
  font-size: 19px;
  border-radius: 10px;
}

.searchBox {
  height: 6vh;
  width: 25vw;
  border-radius: 30px;
  border: 2px solid black;
  background-color: white;
  display: flex;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.search {
  position: relative;
  padding: 0 10px;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  outline: none;
  border: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.icon {
  margin: 10px;
}

.search::placeholder {
  font-size: 15px;
}

.searchBox .icon {
  position: relative;
  top: 0;
}
.tableHead th {
  background-color: transparent; /* or #000 */
  user-select: none;
  background-color: #e0e9f0;
  color: #5489ae;
  font-weight: bolder;
}
.tableHead tr {
  border-color: #014f86;
  margin: none;
  border-right: none;
  border-left: none;
}

.tableBody tr:hover {
  background-color: lightgray;
  cursor: pointer;
}
.tableBody tr {
  border-color: #014f86;
  margin: none;
  border-right: none;
  border-left: none;
}
.tableBody td {
  background-color: transparent; /* or #000 */
  user-select: none;
  padding: 0;
  text-align: center;
  color: #5489ae;
  font-weight: bolder;
  z-index: -1;
}
.tableBody th {
  background-color: transparent; /* or #000 */
  user-select: none;
  background-color: #e0e9f0;
  color: #5489ae;
  font-weight: bolder;
}

.tableBody tr:hover td {
  background-color: transparent; /* or #000 */
}
.tableBody tr:hover th {
  background-color: transparent; /* or #000 */
}
.depNumTableCells {
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dee2e6;
  padding-right: 10px;
}
.cells {
  display: inline-block;
  top: 20px;
}
