@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Naskh Arabic", serif;
}
#root, html{
  background-color: rgb(229, 237, 255);
}
