@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400..700&display=swap');
* , html{
  font-family: "Noto Naskh Arabic", serif;
}
body {
  margin: 0;
  background-color: gray;
}
.App {
  
  width: 98vw;
  height: 98vh;
}
